@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-SemiBold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-Regular.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-Light.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-UltraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url(font/Montserrat-Hairline.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face
{
    font-family: 'Allura';
    src: url(font/Allura.ttf);
}

@font-face
{
    font-family: 'Ailerons' format('truetype');
    src: url(font/Ailerons.ttf);
}