html, body {
    height: 100%;
    font-family: 'Montserrat';
    color: #444;
}

body
{
    background-image: url(../img/bg.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;   
    background-position-y: 60%;
}

.no-margin
{
    margin: 0;
}

.b
{
    font-weight: bold;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
    min-width: 900px;
}

._site._index.wrap {
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap._admin
{
    min-width: 100%;
}

._admin .navbar .container
{
    min-width: 100%;
    padding-left: 20px;
}

.wrap > .container
{
    padding-top: 90px;
}

._admin > .container, ._site._index > .container
{
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
}

._site._index > .container .content, ._site._index > .container
{
    padding-right: 0;
    padding-left: 0;
}

.site-index .main
{
    margin: auto;
    max-width: 1000px;
}

.sidebar
{
    background-color: #eee;
    padding-bottom: 10px;
}

.sidebar li:hover, .sidebar li a:hover
{
    background-color: #0097cf;
    color: #fff;
}

.sidebar li.active, .sidebar li.active a
{
    background-color: #337ab7;
    color: #fff;
}

.sidebar-container .header
{
    background-color: #333342;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
}

.sidebar-container
{
    padding: 0;
}

.sidebar-container > div
{
    margin: 0 20px 20px;
}

.sidebar-container .user-info
{
    background-color: #fff;
    color: #444;
}

.sidebar-container .user-info .content-wrapper
{
    padding: 15px;
}

.user-info table tr
{
    border-bottom: 1px solid;
    border-color: inherit;
}

.user-info table tr:last-child
{
    border-bottom: none;
}

.user-info table
{
    border: 1px solid;
    border-color: #e3e3e3;
    width: 100%;
}

.user-info table tr td
{
    padding: 10px;
}

.user-info table tr td:first-child
{
    border-right: 1px solid; 
    border-color: inherit;
}


.secondary
{
    background-color: #232332; //#6eacb0;
    min-width: 100%;
    margin-top: 2px;
    padding: 30px 20%;
    color: #ddf;
}

.secondary .btn
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.body-content > .row > div > p
{
    text-align: left;
}

.footer {
    height: 60px;
    background-color: #131322;//#387780;
    border: none;
    padding-top: 20px;
    margin-top: 20px;
    color: #fff;
}

._site._index ~ .footer
{
    margin-top: 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: #fff;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after, a.sort-numerical.asc:after {
    content: "\e155";
}

.sort-numerical a.desc:after, a.sort-numerical.desc:after {
    content: "\e156";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-brand
{
    position: relative;
    bottom: -15px;
    font-family: Allura; 
    font-size: 70px;
    color: #333342;
}

.navbar-brand:hover
{
    color: #333342;
}

.navbar
{
    background-color: #e3e3e3; //#00ccff; #FFF4C0
    min-height: 70px !important;
    font-weight: 500;
    margin-right: 0;
    border-bottom: 1px solid #444;
}

.navbar-toggle
{
    color: #000;
    background-color: #fff;
}

#w1 > li > a
{
    height: 70px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    color: #444; //#ddffff;
}
#w1 > li:hover > a
{
    background-color: #eee;
}
#w1 > li.active > a, #w1 > li.open > a
{
    background-color: #f2f2f2;
}
#w2 > li > a
{
    height: 40px;
    vertical-align: middle;
    padding-top: 10px;
}
#w2 > li > a:hover
{
    background-color: #0097cf;
    color: #fff;
}

.info
{
    padding: 15px;
    margin: 20px 0;
    border-radius: 3px;
}



.page-nav
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


.alert i.glyphicon
{
    font-size: 20px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.alert div
{
    position: relative;
    bottom: 2px;
    display: inline-block;
}


.align-right
{
    text-align: right;
}

.row
{
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}
.row.header > *, .row.header, .row.header a
{
    background-color: #333342;//6eacb0;
    color: #fff;
}
.row.odd > *, .row.odd
{
    background-color: #fff;
}
.row.even > *, .row.even
{
    background-color: #fff5e9;
}

.remove > a
{
    color: #ff3030;
    font-size: 16px;
}

.row.header
{
    padding: 10px 0px;
}


.subscription-add
{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    float: none;
}
.subscription-add .form > div
{
    padding: 5px;
}
.form-control, .btn
{
    border-radius: 0;
}



.product-form .row
{
    padding-top: 6px;
    width: 100%;
}
.product-form .row *
{
    display: inline-block;
    padding: 0 2px;
}
.product-form .row.header > *
{
    padding: 0;
}
.product-form .row .name { width: 29%; }
.product-form .row .url { width: 29%; }
.product-form .row .priceElement { width: 13%; }
.product-form .row .company { width: 13%; }
.product-form .row.header .company { width: 12%; }
.product-form .row .category { width: 13%; }
.product-form .row.header .category { width: 12%; }
.product-form .row .button { width: 3%; }

.product-form .row.header
{
    padding-top: 10px;
} 
.product-form .row.header > *
{
    color: #fff;
    text-align: center;
}
.product-form .priceElement a
{
    color: #fff !important;
}

.product-create .popover-content
{
    background-color: #fff !important;
    color: #444 !important;
}



.rate
{
    color: #eeaa30
}
.rate .fa-star-o
{
    color: #bbb;
}
.rating-hover, .rating-hover *
{
    color: #30aaee !important;
}



div.welcome *, div.welcome
{
    text-align: left;
    font-size: 25px;
}


.site-about blockquote footer
{
    font-family: Allura;
    font-size: 22px;
}
.site-about blockquote p
{
    font-weight: light;
    font-size: 14px;
}


.nav.nav-tabs
{
    font-weight: 500;
}


input
{
    font-weight: 500;
}


.badge
{
    background-color: #55aa00;
}

div.ads-bottom
{
    margin-top: 20px;
}
div.ads-bottom > div
{
    text-align: center;
}
.alert
{
    border-radius: 0;
}
.tooltip .tooltip-inner
{
    border-radius: 0;
}

#admin, #admin *
{
    font-size: 12px;
}

#admin .label
{
    font-size: 10px;
}

#admin .glyphicon, #admin .fa
{
    font-size: 14px;
    padding-top: 4px;
}

.admin-list-products > *
{
    display: inline-block;
    text-align: left;
    position: relative;
    vertical-align: top;
}

.product-list, .user-update-password
{
    margin-bottom: 20px;
}

.data-span
{
    visibility: hidden;
}

.has-subscription > a:after, .no-subscription:hover > a:after
{
    content: "\e105";
}

.has-subscription:hover > a:after
{
    content: "\e106";
    color: #f00;
}

.has-subscription > a, .no-subscription > a
{
    font-family: "Glyphicons Halflings";
    text-decoration: none;
    font-size: 16px;
    color: #444;
    position: relative;
    top: 5px;
}

.has-subscription, .no-subscription
{
    text-align: center;
    padding: 3px !important;
}

.nowrap
{
    white-space: nowrap;
}

.table thead, .table thead *
{
    background-color: #333342; //#6eacb0;
    color: #fff;
    border: none !important;
}

.table
{
    border-color: #333342;
}

.table-striped > tbody > tr:nth-of-type(odd)
{
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(even)
{
    background-color: #eee;
}

.content
{
    background-color: #fff;
    display: none;
    padding: 20px;
}

._admin .content-wrapper
{
    padding: 0;
}

._admin h1, ._admin h2
{
    font-family: montserrat;
    font-size: 20px;
    font-weight: bold;
}

.content-wrapper .header
{
    background-color: #333342;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
}

._site._index .content
{
    background-color: transparent;
    padding: 0 20px;
}

h1
{
    margin-top: 0;
    font-family: Allura;
    font-size: 50px;
}

.secondary h2
{
    font-family: Allura;
    font-size: 40px;
}

.toggle-approved, .toggle-approved:hover, .toggle-approved:focus
{
    color: #444;
    text-decoration: none;
}

.highlighted
{
    background-color: #ff0;
}

.fa-spin {
    -webkit-transform-origin: 50% calc(50% + 2px);
    transform-origin: 50% calc(50% + 2px);
}
